@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* ------------------------nav bar---------------------------------- */

header {
    position: sticky;
    top: 0;
    background-color: white;
}

header>:not(hr) {
    padding: 1em 8em;
}

nav {
    max-width: 100rem;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.home {
    width: 8em;
    display: flex;
}

button {
    border: none;
    background-color: white;
    outline: 1px solid lightgray;
}

#language {
    outline: none;
}

  /* ------------------------search bar---------------------------------- */

.search-menu {
    border-radius: 10em;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    border: none;
}

.search-menu:hover {
    filter: drop-shadow(0 0.2rem 0.2rem lightgray)
}

.search-menu>* {
    padding: 1em;
}

#signup {
    display: flex;
    align-items: center;
}

#signup>* {
    margin: 0 1em;
}

#user {
    width: 6em;
    height: 3em;
    border-radius: 10em;
    border: none;
}

  /* ------------------------sub-menu---------------------------------- */

.box-outer {
    max-width: 105rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.box-outer>* {
    margin: 0.5em;
}

.box-inner {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
    overflow: hidden;
    cursor: pointer;
}

.box-inner li{
    display: inline-block;
    float: none;
    margin-right: 2em;
}

.paddle {
    padding: 0.4em 0.5em;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}

.filter {
    padding: 1em;
    display: flex;
    border: none;
    border-radius: 1em;
    cursor: pointer;
}

/* ------------------------accomodation list---------------------------------- */

main {
    max-width: 117rem;
    margin: 0 auto;
}

.accomodation-list {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
}

.accomodation-container {
    padding: 0 1em;
}

.content {
    display: flex;
    justify-content: center;
}

img {
    width: 19em;
    height: 19em;
    border-radius: 1em;
}

footer {
    position: sticky;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    bottom: 0;
    background-color: white;
}

footer>ul {
    display: flex;
}

#navigation>li {
    margin: 0 1em;
}

#modifier>li {
    margin: 0 1em;
    list-style: none;
}

/* ------------------------media query---------------------------------- */

@media screen and (max-width: 1700px) {
    nav {
        padding: 1em 4em !important;
    }

    .box-outer {
        padding: 0 4em !important;
    }

    .accomodation-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .accomodation-list li {
        margin: 1em;
    }

    img {
        width: 100%;
    }
}

@media screen and (max-width: 1440px) {
    nav {
        padding: 1em 4em !important;
    }

    .box-outer {
        padding: 0 4em !important;
    }

    .accomodation-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .accomodation-list li {
        margin: 1em;
    }

    img {
        width: 100%;
    }
}

@media screen and (max-width: 1280px) {
    nav {
        padding: 1em 4em !important;
    }

    .box-outer {
        padding: 0 4em !important;
    }

    .accomodation-list {
        padding: 0 4em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .accomodation-list li {
        margin: 1em;
    }

    img {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
   
    .box-inner {
        padding: 0.5em;
    }

    .logo-label {
        display: none !important; 
    }

    #user {
        padding: 1em;
        align-items: center !important;
    }

    header>:not(hr) {
        padding: 1em 4em;
    }

    .accomodation-list {
        padding: 0 4em;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .accomodation-list>li {
        margin: 1em; 
        justify-content: space-between;
    }

    img {
        width: 100%;
    }

    span {
        overflow: hidden;
    }
    
}

@media screen and (max-width: 600px) {
    .home {
        display: none;
    }

    nav {
        padding: 1em 2em !important; 
    }

    #signup {
        display: none;
    }

    .search-menu {
        width: 100%;
    }

    .search-menu span{
        display: none;
    }

    .box-outer {
        padding: 0 2em !important;
    }

    .box-inner li {
        margin-right: 2em;
    }

    .filter {
        border-radius: 100%
    }
    
    .filter>p{
        display: none;
    }

    .paddle {
        display: none;
    }

    .accomodation-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        padding: 1em;
    }

    .content {
        padding: 0 0.5em;
    }

    img {
        width: 100%;
    }

    footer {
        display: none;
    }

@media screen and (max-width: 375px) {
    .home {
        display: none;
    }

    nav {
        padding: 1em 2em !important; 
    }

    #signup {
        display: none;
    }

    .search-menu {
        width: 100%;
    }

    .search-menu span{
        display: none;
    }

    .box-outer {
        padding: 0 2em !important;
    }

    .box-inner li {
        margin-right: 2em;
    }

    .filter {
        border-radius: 100%
    }
    
    .filter>p{
        display: none;
    }

    .paddle {
        display: none;
    }

    .accomodation-list {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        padding: 1em;
    }

    .content {
        padding: 0 0.5em;
    }

    img {
        width: 100%;
    }

    footer {
        display: none;
    }
    
}